{% extends "base.html" %}

{% block title %}Snoozed Chat{% endblock %}

{% block content %}

<div class="row" style="padding-top:10px;" >
 
    <div class="col"><hr></div>
    <div class="col-auto"><p class="h3" align="center">Snoozed Chat</p></div>
    <a class="nav-item nav-link" href="/unsnooze">Un-Snooze</a>

    <nav class="navbar navbar-expand-sm bg-light navbar-light"></nav>
    <div class="col"><hr></div>
</div>
<div class="container">
    <div class="overflow-auto" class="msgs" id="messagesHistory" style="overflow-y: scroll; height:500px;">
        {% for msg in history %}
            <div class="container darker"><b style="color:#000" class="left">{{msg["name"]}}</b><p> {{msg["message"]}}</p><span class="time-left">{{msg["time"]}}</span></div>
        {% endfor %}
    </div>
</div>

<script>

    function unsnooze(){
        window.location.href = "/unsnooze";
    }

    let timeoutId = setTimeout(unsnooze, 5000);
    
</script>
{% endblock %}